@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap'); 

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

ul {
    list-style: none;
}

/** Core Styles */

body {
    margin: 0;
    font-family: 'Archivo', Helvetica, Arial, sans-serif;
    background: #fff;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

/** Navigation Bar */

.navbar {
    background: #ffffff;
    color: black;
    height: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: bottom;
    height: 40px;
}

.navbar img {
    display: block;
    width: 170px;
    height: auto;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: light;
    display: block;
}

.navbar a:hover {
    color: rgb(80, 183, 39);
}

.navbar .nav-left {
    justify-content: center;
    width: 700px;
}

.navbar ul {
    display: flex;
}

.navbar .nav-left .menu-items{
    height: inherit;
}

.navbar li {
    margin: auto 20px;
}

/** Showcase */

header .bg-image {
    position: absolute;
    background: green url(#);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
}

header .showcase-text {
    text-align: start;
    margin-left: 20%;
}

header h1 {
    padding-top: 300px;
}

header p {
    padding-bottom: 100px;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: light;
    display: block;
}

header a:hover {
    color: rgb(80, 183, 39);
}

/** Products */

.box {
    background: darkolivegreen;
    color: white;
    height: 185px;
    width: 185px;
    border-radius: 20px;
    margin: 20px 10px;
    padding: 15px 20px;
}

.products .container{
    display: flex;
    justify-content: space-around;
}

/** Box Panels */

.panel {
    background: #ffffff;
    color: green;
    height: 200px;
    padding-top: 25px;
    padding-bottom: 25px;
}

/** Footer */

#main-footer {
    padding: 2em;
    background: #000;
    color: #fff;
    text-align: center;
}

#main-footer a{
    color: #2690d4;
    text-decoration: none;
}