@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap'); 

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

ul {
    list-style: none;
}

/** Core Styles */

body {
    margin: 0;
    font-family: 'Archivo', Helvetica, Arial, sans-serif;
    background: #fff;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

/** Navigation Bar */

.navbar {
    background: #ffffff;
    color: black;
    height: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: bottom;
    height: 40px;
}

.navbar img {
    display: block;
    width: 170px;
    height: auto;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: light;
    display: block;
}

.navbar a:hover {
    color: #AAD297;
}

.navbar .nav-left {
    justify-content: center;
    width: 700px;
}

.navbar ul {
    display: flex;
}

.navbar .nav-left .menu-items{
    height: inherit;
}

.navbar li {
    margin: auto 20px;
}

/** Showcase */

header .bg-image {
    position: absolute;
    background: green url(#);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
}

header .showcase-text {
    text-align: start;
    margin-left: 20%;
}

header h1 {
    padding-top: 300px;
}

header p {
    padding-bottom: 100px;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: light;
    display: block;
}

header a:hover {
    color: #AAD297;
}

/** Products */

.box {
    color: white;
    height: 185px;
    width: 185px;
    border-radius: 20px;
    margin: 20px 10px;
    padding: 15px 20px;
    text-shadow: 0px 1px 5px slategrey;  
}

.box:nth-of-type(4) {
    background-color: #57AFA0;
}
.box:nth-of-type(1) {
    background-color: seagreen;
}
.box:nth-of-type(5) {
    background-color: #71BDBF;
}
.box:nth-of-type(2) {
    background-color: lightseagreen;
}
.box:nth-of-type(3) {
    background-color: #AAD297;
}


.products .container{
    display: flex;
    justify-content: space-around;
}

/** Box Panels */

.panels .container {
    grid-template-columns: 2fr 1fr;
    max-width: 1100px;
    margin: 100px auto;
    padding: 10px;
    display: grid;
    gap: 20px;
}

.panel {
    background-color: #ffffff;
    color: ffffff;
    height: 300px;
    padding: 25px;
    border-radius: 15px;
    background-color: grey;
    text-align: start;
}

.panel img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.panel:nth-of-type(1){
    height: 100%;
    grid-row: 1/3;
}

.panel:nth-of-type(2){
    background-image: url("images/algae2.jpg");
    background-size: contain; 
    text-shadow: 0px 1px 20px black;   
}

.panel:nth-of-type(3){
}

/** Footer */

#main-footer {
    padding: 2em;
    background: #000;
    color: #fff;
    text-align: center;
}

#main-footer a{
    color: #2690d4;
    text-decoration: none;
}